#spaceTop{
    margin:3% 0px;
    margin-bottom: 30px;
}
#fontChange{
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;

}
#color-switcher{
    text-align: end;
    margin-top: 3%;
    margin-right: 9%;
}
.btn1{
    width:40px;
    height:40px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 50%;
    cursor: pointer;
}
#white{
    background-color: white;
}
#aqua{
background: aqua;
}
#violet{
background: violet;
}
#black{
background: black;
}